<section id="hero">
    <div class="hero-content">
        <h1>Welcome to my Simple Angular App</h1>
        <br>
        <p>This app is used to showcase my Angular skills.</p>
        <p>I just started learning Angular recently and wanted to test out my abilities.</p>
        <button class="cta-btn" (click)="onClick()">Contact Me</button>
    </div>
</section>

<section id="features">
    <h2>About Me</h2>
    <br>
    <div class="features-container">
        <div class="feature-card">
            <h3>Hobbies</h3>
            <p>I like to play Volleyball and shop.</p>
        </div>
        <div class="feature-card">
            <h3>Personal Information</h3>
            <p>I am a 21 year old male situated in Toronto.</p>
        </div>
        <div class="feature-card">
            <h3>Career Goals</h3>
            <p>I would like to at some point start my own start-up relating to AI.</p>
        </div>
    </div>
</section>
