<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
  <a class="navbar-brand" href="#">MyAngularApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contactme">Contact Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Coming Soon...</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet />
